.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  font-family: 'Righteous', cursive;
  margin: 15px 0 0 20px;
  align-self: flex-start;
  color: white;
}

.App .actionButton {
  width: fit-content;
}
