.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.messageState {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.initialState {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.actionButton {
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.shuffleButton {
  margin-top: 20px;
  margin-bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  text-align: center;
}
