.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.messageState {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.initialState {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.actionButton {
  width: fit-content;
}

.shuffleButton {
  margin-top: 20px;
  margin-bottom: 50px;
}
