.MapComponent {
  height: 100%;
  flex-grow: 1;
  flex-basis: 40%;
  position: relative;
}

.MapComponent .google-map {
  position: absolute;
}

.MapComponent .shuffle-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
