.OptionsPanel {
  height: 100%;
  flex-grow: 1;
  background-color: #f4f4f4;
}

.OptionsPanel .logo {
  background-image: linear-gradient(to top right, #ff834a, #ffb371);
  margin: 10px;
  border-radius: 50px;
}

.OptionsPanel .logo h1 {
  font-family: 'Righteous', cursive;
  padding: 15px 25px;
  color: black;
  margin: 0;
}
