.restaurantCard {
  width: 500px;
}

.restaurantMedia {
  height: 0;
  padding-top: 56.25%;
}

.restaurantContent {
  display: flex;
}

.restaurantContent .categoryChip {
  margin: 0 7px;
  background-image: linear-gradient(to top right, #ff834a, #ffb371);
}

.expand svg {
  transition: transform 0.15s ease;
}

.showMap svg {
  transform: rotate(180deg);
}

.actions {
  display: flex;
}
