.RestaurantPanel {
  height: 100%;
  flex-grow: 2;
  width: 400px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4 !important;
  background-clip: padding-box;
  padding: 10px;
}

.RestaurantPanel > div {
  padding: 10px;
}

.RestaurantPanel .header {
  display: flex;
  align-items: center;
}

.RestaurantPanel .header h2 {
  margin: 0;
  text-align: left;
}

.RestaurantPanel .header img {
  width: 25px;
  vertical-align: text-top;
  margin-left: 5px;
}

.media > div {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.media img {
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content > div {
  padding: 10px;
}

.ratingPrice {
  display: flex;
  height: 20px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.rating {
  display: flex;
  height: 100%;
}

.price svg {
  height: 100%;
  font-size: 16px;
}

.content img {
  height: 100%;
}

.rating span {
  margin-left: 10px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.categoryChip {
  margin: 3px 7px;
  background-image: linear-gradient(to top right, #ff834a, #ffb371);
}

.reviews {
  min-height: 0;
  flex-grow: 1;
}

.reviews > div {
  height: 100%;
  overflow-y: scroll;
}

.viewReviewsButton {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  transform: rotate(0deg);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.rotatedIcon {
  transform: rotate(180deg);
}

.contact {
  margin: 0 5px;
}

.contact > div {
  display: flex;
  align-items: center;
  padding: 5px;
}

.contact > div svg {
  margin-right: 5px;
}
