.ReviewContainer {
  padding: 10px;
}

.ReviewContainer .avatar {
  color: #fff;
  background-image: linear-gradient(to top right, #ff834a, #ffb371);
  width: 25px;
  height: 25px;
}

.ReviewContainer .header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.ReviewContainer .header > div {
  margin-right: 10px;
}

.ReviewContainer .content {
  text-align: left;
  padding: 0 5px;
  font-size: 14px;
  border-left: 2px solid orange;
  margin-left: 10px;
  font-style: italic;
}

.ReviewContainer .read-more {
  text-decoration: none;
  margin-left: 4px;
}

.ReviewContainer .read-more:hover {
  text-decoration: underline;
}

.ReviewContainer .rating {
  margin-left: auto;
  height: 15px;
}

.ReviewContainer .time-created {
  margin-left: 5px;
  font-size: 12px;
}
