.Review {
  padding: 10px;
}

.Review .avatar {
  color: #fff;
  background-image: linear-gradient(to top right, #ff834a, #ffb371);
  width: 25px;
  height: 25px;
}

.Review .header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.Review .header > div {
  margin-right: 10px;
}

.Review .content {
  text-align: left;
  padding: 0 5px;
  font-size: 14px;
  border-left: 2px solid orange;
  margin-left: 10px;
}

.Review .readMore {
  text-decoration: none;
  margin-left: 4px;
}

.Review .readMore:hover {
  text-decoration: underline;
}

.Review .rating {
  margin-left: auto;
  height: 15px;
}

.Review .timeCreated {
  margin-left: 5px;
  font-size: 12px;
}
